{% set cities = app['orm.em'].getRepository('Application\\Entity\\ParticipantEntity').getByCities(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Participants by Cities' | trans }}</div>
    <div id="participants-by-cities-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeParticipantsByCitiesChart();
        }
    );

    var participantsByCitiesChart;
    function initializeParticipantsByCitiesChart() {
        jQuery('#participants-by-cities-chart').html('');
        participantsByCitiesChart = new Morris.Bar({
            element: 'participants-by-cities-chart',
            resize: true,
            data: [
                {% for key, value in cities %}
                    {
                        city: '{{ key }}',
                        count: {{ value }}
                    }{{ loop.last ? '' : ',' }}
                {% endfor %}
            ],
            xkey: 'city',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
