{% extends 'layouts/content/members-area.html.twig' %}

{% set user = user|default(app.user) %}

{% block title %}{{ 'Change Password'|trans }} | {{ 'Profile'|trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Profile'|trans }}</h1>
    <h2>{{ 'Change Password'|trans }}</h2>
    <ol class="breadcrumb">
		<li>
			<a href="{{ url('members-area') }}">
				{{ 'Home' | trans }}
			</a>
		</li>
        <li>
			<a href="{{ url('members-area.my') }}">
				{{ 'My' | trans }}
			</a>
		</li>
		<li>
			<a href="{{ url('members-area.my.profile') }}">
				{{ 'Profile' | trans }}
			</a>
		</li>
        <li>
			<a href="{{ url('members-area.my.profile.settings') }}">
				{{ 'Settings' | trans }}
			</a>
		</li>
		<li class="active">
			{{ 'Change Password' | trans }}
		</li>
	</ol>
    {{ form(form) }}
{% endblock %}
