{% extends 'layouts/content/default.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link id="contest-css" rel="stylesheet" href="{{ app.baseUri }}/assets/stylesheets/contest.css?version={{ app.version }}" />
{% endblock %}

{% block wrapper %}
    {% set isContainerFluid = isContainerFluid is defined ? isContainerFluid : true %}
    <div id="content"
        style="padding-top: 50px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% include 'layouts/content/default/_parts/flash-messages.html.twig' %}
                </div>
            </div>
        </div>
        {% block content %}
            <div class="container{{ isContainerFluid ? '-fluid' : '' }}">
                <div class="row">
                    <div class="col-md-12">
                        <div id="main" role="main">
                            {% block main %}{% endblock %}
                        </div> <!-- /#main -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
            </div> <!-- /.container-fluid -->
        {% endblock %}
    </div> <!-- /#content -->
    <footer id="footer" role="contentinfo">
        {% block footer %}
            {% include 'layouts/content/default/_parts/footer.html.twig' %}
        {% endblock %}
    </footer> <!-- /#footer -->
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script id="contest-js" type="text/javascript" src="{{ app.baseUri }}/assets/javascripts/contest.js?version={{ app.version }}"></script>
{% endblock %}
