<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<style type="text/css">
			{{ file_contents('web/assets/vendor/ink/css/ink.css') }}
		</style>
		<style type="text/css">
			{% block stylesheets %}
		        /**************************************************************
		        * Custom Styles *
		        ***************************************************************/
		        /***
		        Reset & Typography
		        ***/
		        body {
		        	direction: ltr;
		        	background: #fff;
		        }

		        a {
		        	color: #337ab7;
		        }

		        a:hover {
		        	text-decoration: underline;
		        }

		        h1 {font-size: 34px;}
		        h2 {font-size: 30px;}
		        h3 {font-size: 26px;}
		        h4 {font-size: 22px;}
		        h5 {font-size: 18px;}
		        h6 {font-size: 16px;}

		        h4, h3, h2, h1 {
		        	display: block;
		        	margin: 5px 0 15px 0;
		        }

		        h7, h6, h5 {
		        	display: block;
		        	margin: 5px 0 5px 0 !important;
		        }

		        /***
		        Buttons
		        ***/
		        .btn td {
			        background: #e5e5e5 !important;
			        border: 0;
			        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
			        font-size: 14px;
			        padding: 7px 14px !important;
			        color: #333333 !important;
			        text-align: center;
			        vertical-align: middle;
		        }

		        .btn td a {
			        display: block;
			        color: #fff;
		        }

		        .btn td a:hover,
		        .btn td a:focus,
		        .btn td a:active {
		        	color: #fff !important;
		        	text-decoration: none;
		        }

		        .btn td:hover,
		        .btn td:focus,
		        .btn td:active {
		        	background: #d8d8d8 !important;
		        }

		        /*  Yellow */
		        .btn.yellow td {
		        	background: #ffb848 !important;
		        }

		        .btn.yellow td:hover,
		        .btn.yellow td:focus,
		        .btn.yellow td:active {
		        	background: #eca22e !important;
		        }

		        .btn.red td{
			       background: #d84a38 !important;
		        }

		        .btn.red td:hover,
		        .btn.red td:focus,
		        .btn.red td:active {
		        	background: #bb2413 !important;
		        }

		        .btn.green td {
		        	background: #35aa47 !important;
		        }

		        .btn.green td:hover,
		        .btn.green td:focus,
		        .btn.green td:active {
		        	background: #1d943b !important;
		        }

		        /*  Blue */
		        .btn.blue td {
		        	background: #4d90fe !important;
		        }

		        .btn.blue td:hover,
		        .btn.blue td:focus,
		        .btn.blue td:active {
		        	background: #0362fd !important;
		        }

		        .template-label {
			        color: #ffffff;
			        font-weight: bold;
			        font-size: 11px;
		        }

		        /***
		        Note Panels
		        ***/
		        .note .panel {
			        padding: 10px !important;
			        background: #ECF8FF;
			        border: 0;
		        }
		        /***
		        Header
		        ***/
		        .page-header {
			        width: 100%;
			        background: #f8f8f8;
					margin: 0;
					border-bottom: none;
		        }

		        /***
		        Social Icons
		        ***/
		        .social-icons {
		        	float: right;
		        }

		        .social-icons td {
		        	padding: 0 2px !important;
			       	width: auto !important;
		        }

		        .social-icons td:last-child {
		        	padding-right: 0 !important;
		        }

		        .social-icons td img {
		        	max-width: none !important;
		        }

		        /***
		        Content
		        ***/
		        table.container.content > tbody > tr > td{
		        	background: #fff;
		        	padding: 15px !important;
		        }

		        /***
		        Footer
		        ***/
		        .page-footer  {
		        	width: 100%;
		        	background: #f8f8f8;
					color: #666;
		        }

		        .page-footer td {
		        	vertical-align: middle;
		        	color: #666;
		        }

				.page-footer a {
					color: #333;
				}

		        /***
		        Content devider
		        ***/
		        .devider {
		        	border-bottom: 1px solid #eee;
		        	margin: 15px -15px;
		        	display: block;
		        }

		        /***
		        Media Item
		        ***/
		        .media-item img {
			        display: block !important;
			        float: none;
			        margin-bottom: 10px;
		        }

		        .vertical-middle {
			        padding-top: 0;
			        padding-bottom: 0;
			        vertical-align: middle;
		        }

		        /***
		        Utils
		        ***/
		        .align-reverse {
		        	text-align: right;
		        }

		        .border {
		        	border: 1px solid red;
		        }

		        .hidden-mobile {
		        	display: block;
		        }

		        .visible-mobile {
		        	display: none;
		        }

				.small-font {
					font-size: 12px;
				}

		        @media only screen and (max-width: 600px) {
			        /***
			        Reset & Typography
			        ***/
			        body {
			        	background: #fff;
			        }

			        h1 {font-size: 30px;}
			        h2 {font-size: 26px;}
			        h3 {font-size: 22px;}
			        h4 {font-size: 20px;}
			        h5 {font-size: 16px;}
			        h6 {font-size: 14px;}

			        /***
			        Content
			        ***/
			        table.container.content > tbody > tr > td{
			        	padding: 0px !important;
			        }

			        table[class="body"] table.columns .social-icons td {
			        	width: auto !important;
			        }

			        /***
			        Header
			        ***/
			        .header {
			        	padding: 10px !important;
			        }

			        /***
			        Content devider
			        ***/
			        .devider {
			        	margin: 15px 0;
			        }

			        /***
			        Media Item
			        ***/
			        .media-item {
			        	border-bottom: 1px solid #eee;
			        	padding: 15px 0 !important;
			        }

			        /***
			        Media Item
			        ***/
			        .hidden-mobile {
			        	display: none;
			        }

			        .visible-mobile {
			        	display: block;
			        }
		        }
			{% endblock %}
		</style>
	</head>
	<body>
		{% set message = message is defined ? message : false %}
		{% set email = email is defined ? email : false %}
		{% set emailType = emailType is defined ? emailType : false %}
		{% set user = user is defined ? user : app['orm.em'].getRepository('Application\\Entity\\UserEntity').findOneByEmail(email) %}
		<table class="body">
			<tr>
				<td class="center" align="center" valign="top">
					<center>
					<!-- BEGIN: Header -->
					{% block header %}
						<table class="page-header" align="center">
						<tr>
							<td class="center" align="center">
								<!-- BEGIN: Header Container -->
								<table class="container" align="center">
								<tr>
									<td>
										<table class="row ">
										<tr>
											<td class="wrapper vertical-middle">
												<!-- BEGIN: Logo -->
												<table class="six columns">
												<tr>
													<td class="vertical-middle">
														<a href="{{ app.baseUrl }}">
															{% set logoImageUrl = app.baseUrl ~ '/assets/images/logo/icon.png' %}
															<img src="{{ swiftMessage is defined ? swiftMessage.embed(app['application.mailer'].image(logoImageUrl)) : logoImageUrl }}"
																src-original="{{ logoImageUrl }}" alt="Logo" width="48" height="48" style="width: 48px; height: 48px;" />
														</a>
													</td>
												</tr>
												</table>
												<!-- END: Logo -->
											</td>
											<td class="wrapper vertical-middle last">
												<!-- BEGIN: Social Icons -->
												<table class="six columns">
												<tr>
													<td style="padding: 0;">
														<table class="social-icons" align="right">
														<tr>
															<td class="vertical-middle">
																<a href="https://www.twitter.com/corcosoft" target="_blank">
																	{% set twitterImageUrl = app.baseUrl ~ '/assets/images/icons/social/64-twitter.png' %}
																	<img src="{{ swiftMessage is defined ? swiftMessage.embed(app['application.mailer'].image(twitterImageUrl)) : twitterImageUrl }}"
																		src-original="{{ twitterImageUrl }}" alt="Twitter" height="48" width="48" style="width: 48px; height: 48px;" />
																</a>
															</td>
															<td class="vertical-middle">
																<a href="https://www.facebook.com/corcosoft" target="_blank">
																	{% set facebookImageUrl = app.baseUrl ~ '/assets/images/icons/social/64-facebook.png' %}
																	<img src="{{ swiftMessage is defined ? swiftMessage.embed(app['application.mailer'].image(facebookImageUrl)) : facebookImageUrl }}"
																		src-original="{{ facebookImageUrl }}" alt="Facebook" height="48" width="48" style="width: 48px; height: 48px;" />
																</a>
															</td>
														</tr>
														</table>
													</td>
												</tr>
												</table>
												<!-- END: Social Icons -->
											</td>
										</tr>
										</table>
									</td>
								</tr>
								</table>
								<!-- END: Header Container -->
							</td>
						</tr>
						</table>
					{% endblock %}
					<!-- END: Header -->
					<!-- BEGIN: Content -->
					{% block content %}
						<table class="container content" align="center">
						<tr>
							<td>
								{% block main %}{% endblock %}
							</td>
						</tr>
						</table>
					{% endblock %}
					<!-- END: Content -->
					<!-- BEGIN: Footer -->
					{% block footer %}
						<table class="page-footer" align="center">
						<tr>
							<td class="center" align="center">
								<table class="container" align="center">
								<tr>
									<td>
										<!-- BEGIN: Footer Panel -->
										<table class="row">
										<tr>
											<td class="wrapper">
												<center class="small-font">
													Copyright {{ app.author }} 2015.
													All rights reserved.
												</center>
											</td>
										</tr>
										</table>
										<!-- END: Footer Panel List -->
									</td>
								</tr>
								</table>
							</td>
						</tr>
						</table>
					{% endblock %}
					<!-- END: Footer -->
					</center>
				</td>
			</tr>
		</table>
	</body>
</html>
