{% set deviceTypes = app['orm.em'].getRepository('Application\\Entity\\EntryEntity').getByDeviceTypes(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Entries by Device Types' | trans }}</div>
    <div id="entries-by-device-types-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeEntriesByDeviceTypesChart();
        }
    );

    var entriesByDeviceTypesChart;
    function initializeEntriesByDeviceTypesChart() {
        jQuery('#entries-by-device-types-chart').html('');
        entriesByDeviceTypesChart = new Morris.Bar({
            element: 'entries-by-device-types-chart',
            resize: true,
            data: [
                {% for key, value in deviceTypes %}
                    {
                        deviceType: '{{ key }}',
                        count: {{ value }}
                    }{{ loop.last ? '' : ',' }}
                {% endfor %}
            ],
            xkey: 'deviceType',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
