{% extends 'layouts/content/application.html.twig' %}

{% block title %}{{ entry }} | {{ 'Entries'|trans }} | {{ parent() }}{% endblock %}

{% set isContainerFluid = false %}

{% block main %}
	{% if app.settings.entriesArePublic == false and is_granted('ROLE_ADMIN') %}
		<div class="alert alert-info">
			{{ 'Currently only the admin can view the entries. If you want to enable the entries for all users, go to: Members area > Settings and check the "Entries are public?" checkbox.' | trans }}
		</div>
	{% endif %}
	<h2>
        {{ entry }}
        <a class="btn btn-primary btn-sm"
            href="{{ url('application.entries') }}">
            {{ 'Back to all entries'|trans }}
        </a>
    </h2>
    {# some entry data #}
    <a class="btn btn-block btn-primary btn-lg"
        href="{{ url('application.entries.vote', { id : entry.getId() }) }}">
        {{ 'Vote' | trans }}
    </a>
{% endblock %}
