{% extends 'layouts/content/application.html.twig' %}

{% block title %}{{ entry }} | {{ 'Entries'|trans }} | {{ parent() }}{% endblock %}

{% set isContainerFluid = false %}

{% block main %}
	<h2>
        {{ entry }}
        <a class="btn btn-primary btn-sm"
            href="{{ url('application.entries') }}">
            {{ 'Back to all entries'|trans }}
        </a>
    </h2>
    {# some entry data #}
    <a class="btn btn-block btn-primary btn-lg"
        href="{{ url('application.entries.vote', { id : entry.getId() }) }}">
        {{ 'Vote' | trans }}
    </a>
{% endblock %}
