{{ form_start(form) }}
    {{ form_row(form.voterUid) }}
    <div class="form-group">
        {{ form_label(form.entry) }}
        {{ form_errors(form.entry) }}
        {% do form.entry.setRendered %}
        <select id="winner_entry"
            class="select-picker form-control"
            name="winner[entry]"
            data-live-search="true">
            {% if vote is defined and vote.entry != null %}
            <option value="{{ vote.entry.getId() }}">
                {{ vote.entry }}
            </option>
            {% endif %}
        </select>
    </div>
    <div id="vote-meta-wrapper">
        {% do form.voteMetas.setRendered %}
        <div class="clearfix">
            <div class="pull-left">
                {{ form_label(form.voteMetas) }}
            </div>
            <div class="pull-right">
                <a id="new-vote-meta"
                    class="btn btn-xs btn-primary"
                    href="#">
                    Add new Meta
                </a>
            </div>
        </div>
        {{ form_errors(form.voteMetas) }}
        <ul id="voteMetas-fields-list"
            data-prototype="{{ form_widget(form.voteMetas.vars.prototype)|e }}">
            {% for voteMeta in form.voteMetas %}
                <li>
                    {{ form_errors(voteMeta) }}
                    {{ form_widget(voteMeta) }}
                    <div class="clearfix">
                        <div class="pull-right">
                            <a class="btn btn-xs btn-danger remove-meta-button"
                                href="#">
                                Remove
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{{ form_end(form) }}

<script>
    var voteMetasCount = {{ form.voteMetas|length }};

    jQuery(document).ready(function() {
        jQuery('#new-vote-meta').on('click', function(e) {
            e.preventDefault();

            var voteMetas = jQuery('#voteMetas-fields-list');
            var newWidget = voteMetas.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, voteMetasCount);
            voteMetasCount++;

            var newLi = jQuery('<li></li>').html(
                newWidget+
                '<div class="clearfix">' +
                    '<div class="pull-right">' +
                        '<a class="btn btn-xs btn-danger remove-meta-button"' +
                            'href="#">' +
                            'Remove' +
                        '</a>' +
                    '</div>' +
                '</div>'
            );
            newLi.appendTo(voteMetas);

            initializeRemoveMetaButton();
        });

        function initializeRemoveMetaButton() {
            jQuery('.remove-meta-button').on('click', function(e) {
                e.preventDefault();

                jQuery(this).closest('li').remove();

                voteMetasCount--;
            });
        }
        initializeRemoveMetaButton();
        
        // Entries
        jQuery('#winner_entry')
            .selectpicker({
                liveSearch: true,
            })
            .ajaxSelectPicker({
                ajax: {
                    url: '{{ url('members-area.api.entries') }}',
                },
            })
        ;
    });
</script>
