{% set browsers = app['orm.em'].getRepository('Application\\Entity\\VoteEntity').getByBrowsers(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Votes by Browsers' | trans }}</div>
    <div id="votes-by-browsers-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeVotesByBrowsersChart();
        }
    );

    var votesByBrowsersChart;
    function initializeVotesByBrowsersChart() {
        jQuery('#votes-by-browsers-chart').html('');
        votesByBrowsersChart = new Morris.Bar({
            element: 'votes-by-browsers-chart',
            resize: true,
            data: [
                {% for key, value in browsers %}
                    {
                        browser: '{{ key }}',
                        count: {{ value }}
                    }{{ loop.last ? '' : ',' }}
                {% endfor %}
            ],
            xkey: 'browser',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
