{% set countries = app['orm.em'].getRepository('Application\\Entity\\VoteEntity').getByCountries(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Votes by Countries' | trans }}</div>
    <div id="votes-by-countries-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeVotesByCountriesChart();
        }
    );

    var votesByCountriesChart;
    function initializeVotesByCountriesChart() {
        jQuery('#participants-by-countries-chart').html('');
        votesByCountriesChart = new Morris.Bar({
            element: 'votes-by-countries-chart',
            resize: true,
            data: [
                {% for key, value in countries %}
                    {
                        country: '{{ key }}',
                        count: {{ value }}
                    }{{ loop.last ? '' : ',' }}
                {% endfor %}
            ],
            xkey: 'country',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
