{% extends 'layouts/content/members-area.html.twig' %}

{% block title %}{{ 'Winners'|trans }} | {{ parent() }}{% endblock %}

{% block main %}
	<h1>
		{{ 'Winners'|trans }}
		<a class="btn btn-primary btn-sm"
			href="{{ url('members-area.winners.new') }}">
			{{ 'New'|trans }}
		</a>
		<a class="btn btn-warning btn-sm"
			href="{{ url('members-area.winners.export') }}">
			{{ 'Export to CSV'|trans }}
		</a>
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="{{ url('members-area') }}">
				{{ 'Home' | trans }}
			</a>
		</li>
		<li class="active">
			{{ 'Winners' | trans }}
		</li>
	</ol>
	{{ paginator_top_render(pagination) }}
	<div class="table-responsive">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>{{ paginator_sortable(pagination, 'Place', 'w.place') }}</th>
					<th>{{ paginator_sortable(pagination, 'Prize', 'w.prize') }}</th>
					<th>{{ 'Participant' | trans }}</th>
					<th>{{ 'Entry' | trans }}</th>
					<th>{{ paginator_sortable(pagination, 'Informed', 'w.informed') }}</th>
					<th width="160">{{ paginator_sortable(pagination, 'Time Created', 'w.timeCreated') }}</th>
					<th width="140">{{ 'Actions' | trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for winner in pagination.getItems() %}
					<tr class="{{ winner.isInformed() ? 'info' : '' }}">
						<td>{{ winner.getPlace() }}</td>
						<td>{{ winner.getPrize() }}</td>
						<td>{{ winner.getParticipant() }}</td>
						<td>{{ winner.getEntry() }}</td>
						<td>
							{% if winner.isInformed() %}
								{{ 'Yes' | trans }}
								<small>({{ winner.getTimeInformed() | date(app.dateTimeFormat) }})</small>
							{% else %}
								{{ 'No' | trans }}
							{% endif %}
						</td>
						<td>{{ winner.getTimeCreated()|date(app.dateTimeFormat) }}</td>
						<td>
							<a class="btn btn-sm btn-default"
								data-toggle="tooltip" title="{{ 'Edit'|trans }}"
								href="{{ url('members-area.winners.edit', { id : winner.getId() }) }}">
								<i class="fa fa-fw fa-cog"></i>
							</a>
							<a class="btn btn-sm btn-primary"
								data-toggle="tooltip" title="{{ 'Inform'|trans }}"
								href="{{ url('members-area.winners.inform', { id : winner.getId() }) }}">
								<i class="fa fa-fw fa-envelope"></i>
							</a>
							<a class="btn btn-sm btn-danger"
								data-toggle="tooltip" title="{{ 'Remove'|trans }}"
								href="{{ url('members-area.winners.remove', { id : winner.getId() }) }}">
								<i class="fa fa-fw fa-times"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="99">{{ 'No winners yet'|trans }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{{ paginator_bottom_render(pagination) }}
{% endblock %}
