<div id="footer-links">
	<ul id="footer-links-list" class="list-unstyled text-center">
		<li>
			<a href="{{ app.baseUrl }}/members-area/login">{{ 'Login'|trans }}</a>
		</li>
		<li>
			<a href="{{ app.baseUrl }}/members-area/register">{{ 'Register'|trans }}</a>
		</li>
		<li>
			<a href="{{ app.baseUrl }}/members-area/reset-password">{{ 'Reset password'|trans }}</a>
		</li>
	</ul> <!-- /#footer-links-list -->
</div> <!-- /#footer-links -->
