{% set devices = app['orm.em'].getRepository('Application\\Entity\\ParticipantEntity').getByDevices(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Participants by Devices' | trans }}</div>
    <div id="participants-by-devices-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeParticipantsByDevicesChart();
        }
    );

    var participantsByDevicesChart;
    function initializeParticipantsByDevicesChart() {
        jQuery('#participants-by-devices-chart').html('');
        participantsByDevicesChart = new Morris.Bar({
            element: 'participants-by-devices-chart',
            resize: true,
            data: [
                {% for key, value in devices %}
                    {
                        device: '{{ key }}',
                        count: {{ value }}
                    }{{ loop.last ? '' : ',' }}
                {% endfor %}
            ],
            xkey: 'device',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
