{% set deviceTypes = app['orm.em'].getRepository('Application\\Entity\\ParticipantEntity').getByDeviceTypes(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Participants by Device Types' | trans }}</div>
    <div id="participants-by-device-types-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeParticipantsByDeviceTypesChart();
        }
    );

    var participantsByDeviceTypesChart;
    function initializeParticipantsByDeviceTypesChart() {
        jQuery('#participants-by-device-types-chart').html('');
        participantsByDeviceTypesChart = new Morris.Bar({
            element: 'participants-by-device-types-chart',
            resize: true,
            data: [
                {% for key, value in deviceTypes %}
                    {
                        deviceType: '{{ key }}',
                        count: {{ value }}
                    }{{ loop.last ? '' : ',' }}
                {% endfor %}
            ],
            xkey: 'deviceType',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
