<script>
    var piwikUrl = '{{ app.piwikOptions.url }}';
    var piwikSiteId = '{{ app.piwikOptions.site_id }}';
    var piwikTokenAuth = '{{ app.piwikOptions.token_auth }}';
</script>
<div id="visits-tab"
    class="tab-pane fade in"
    role="tabpanel">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'Visits' | trans }}</h3>
        </div> <!-- /.col-md-12 -->
        {% if app.piwikOptions.enabled %}
            <div class="col-md-12">
                {% include 'contents/members-area/statistics/_panels/visits/by-days-panel.html.twig' %}
            </div> <!-- /.col-md-12 -->
            <div class="col-md-12">
                {% include 'contents/members-area/statistics/_panels/visits/by-cities-panel.html.twig' %}
            </div> <!-- /.col-md-12 -->
            <div class="col-md-12">
                {% include 'contents/members-area/statistics/_panels/visits/by-countries-panel.html.twig' %}
            </div> <!-- /.col-md-12 -->
        {% else %}
            <div class="alert alert-info">
                {{ 'For this functionality to work, you need to enable and configure piwik inside your app/configs/global.php file' | trans }}
            </div>
        {% endif %}
    </div> <!-- /.row -->
</div> <!-- #participants-tab -->
