<div id="visits-tab"
    class="tab-pane fade in"
    role="tabpanel">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'Visits' | trans }}</h3>
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            <iframe width="100%" height="250" src="{{ app.piwikOptions.url }}index.php?module=Widgetize&action=iframe&columns[]=nb_visits&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite={{ app.piwikOptions.site_id }}&period=day&date=today&disableLink=1&widget=1&token_auth={{ app.piwikOptions.token_auth }}" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
            <iframe width="100%" height="350" src="{{ app.piwikOptions.url }}index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=realtimeMap&idSite={{ app.piwikOptions.site_id }}&period=day&date=today&disableLink=1&widget=1&token_auth={{ app.piwikOptions.token_auth }}" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
            <iframe width="100%" height="200" src="{{ app.piwikOptions.url }}index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=Live&actionToWidgetize=getSimpleLastVisitCount&idSite={{ app.piwikOptions.site_id }}&period=day&date=today&disableLink=1&widget=1&token_auth={{ app.piwikOptions.token_auth }}" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
</div> <!-- #participants-tab -->
