{% extends 'layouts/content/members-area.html.twig' %}

{% block title %}{{ 'Statistics'|trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Statistics'|trans }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li class="active">
            {{ 'Statistics' | trans }}
        </li>
    </ol>
    <div id="main-content">
        <div class="row">
            <div class="col-md-3">
                {% include 'contents/members-area/statistics/_users-panel.html.twig' %}
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3">
                {% include 'contents/members-area/statistics/_roles-panel.html.twig' %}
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3">
                {% include 'contents/members-area/statistics/_participants-panel.html.twig' %}
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3">
                {% include 'contents/members-area/statistics/_entries-panel.html.twig' %}
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                {% include 'contents/members-area/statistics/_participants-by-hours-panel.html.twig' %}
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                {% include 'contents/members-area/statistics/_entries-by-hours-panel.html.twig' %}
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
    </div>
{% endblock %}
