{% extends 'layouts/content/members-area.html.twig' %}

{% block title %}{{ 'Statistics'|trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Statistics'|trans }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li class="active">
            {{ 'Statistics' | trans }}
        </li>
    </ol>
    <div id="main-content">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'General' | trans }}</h2>
                <div class="row">
                    <div class="col-md-4">
                        {% include 'contents/members-area/statistics/_panels/entries-panel.html.twig' %}
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        {% include 'contents/members-area/statistics/_panels/participants-panel.html.twig' %}
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        {% include 'contents/members-area/statistics/_panels/votes-panel.html.twig' %}
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-6">
                        {% include 'contents/members-area/statistics/_panels/users-panel.html.twig' %}
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6">
                        {% include 'contents/members-area/statistics/_panels/roles-panel.html.twig' %}
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'Detailed' | trans }}</h2>
                <!-- Nav tabs -->
                <ul id="detailed-nav"
                    class="nav nav-tabs nav-justified"
                    role="tablist">
                    <li class="active"
                        role="presentation">
                        <a href="#participants-tab"
                            aria-controls="participants"
                            role="tab"
                            data-toggle="tab">
                            Participants
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#entries-tab"
                            aria-controls="entries"
                            role="tab"
                            data-toggle="tab">
                            Entries
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#votes-tab"
                            aria-controls="entries"
                            role="tab"
                            data-toggle="tab">
                            Votes
                        </a>
                    </li>
                    {% if app.piwikOptions.enabled %}
                        <li role="presentation">
                            <a href="#visits-tab"
                                aria-controls="visits"
                                role="tab"
                                data-toggle="tab">
                                Visits
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    {% include 'contents/members-area/statistics/_participants-tab.html.twig' %}
                    {% include 'contents/members-area/statistics/_entries-tab.html.twig' %}
                    {% include 'contents/members-area/statistics/_votes-tab.html.twig' %}
                    {% if app.piwikOptions.enabled %}
                        {% include 'contents/members-area/statistics/_visits-tab.html.twig' %}
                    {% endif %}
                </div>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script>
        jQuery('#detailed-nav li a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // Participants
            initializeParticipantsByDaysChart();
            initializeParticipantsByHoursChart();
            initializeParticipantsByBrowsersChart();
            initializeParticipantsByOperatingSystemsChart();
            initializeParticipantsByDeviceTypesChart();
            initializeParticipantsByDevicesChart();
            initializeParticipantsByCitiesChart();
            initializeParticipantsByCountriesChart();

            // Entries
            initializeEntriesByDaysChart();
            initializeEntriesByHoursChart();
            initializeEntriesByBrowsersChart();
            initializeEntriesByOperatingSystemsChart();
            initializeEntriesByDeviceTypesChart();
            initializeEntriesByDevicesChart();
            initializeEntriesByCitiesChart();
            initializeEntriesByCountriesChart();

            // Votes
            initializeVotesByDaysChart();
            initializeVotesByHoursChart();
            initializeVotesByBrowsersChart();
            initializeVotesByOperatingSystemsChart();
            initializeVotesByDeviceTypesChart();
            initializeVotesByDevicesChart();
            initializeVotesByCitiesChart();
            initializeVotesByCountriesChart();

            // Visits
            jQuery('#visits-tab iframe').each(function() {
                var src = jQuery(this).attr('src');

                jQuery(this)
                    .attr('src', '')
                    .attr('src', src)
                ;
            })
        });
    </script>
{% endblock %}
